body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1{
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}


.filtros{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filtros button {
    margin: 0 5px;
}

#taskList {
    max-width: 600px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

#taskList li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}